body {
    background-color:#442424;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#442424;
    margin: 20px;
}

h1 {
    color:#442424;
    text-align: center;
}

h2 {
    color: #442424;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}

body {
    background-color:#cf7c7c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #050404;
    margin: 20px;
}

.daftar-produk{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 20px;

}
.produk {
    background-color:#C4A484;
    border: 1px solid #cf7c7c;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2ox 6px rgba(0, 0, 0, 0.1);
}

.produk img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;

}
.produk h2{
     font-size: 20px;
     color: #2c3e50;;
}
.produk h3{
    font-size: 16px;
    color:#27ae60;
}
.deskripsi{
    font-size: 14px;
    color: #555;
}
.harga{
    font-weight:bold;
    color: #830303;
}
.deskripsi{
    font-size: 14px;
    color:#555;
}
.artikel{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: #fdfdfd;
    font-family: 'Georgia',  serif;
    line-height: 1,8;
}
.artikel .penulis{
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
}
.artikel .sampul{ 
    width: 180px;
    float: right;
    margin: 0 0 20px 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgba( 0,0,0,0.1);
    
}
.artikel blockquote{
    font-style: italic;
    padding-left: 20px;
    margin: 20px 0;
    border-left: 4px solid#999;
    color: #444;
    background-color: #f9f9f9;
}
.btn-kembali {
    display: inline-block ;
    margin-top: 30px;
    padding: 10px 16px;
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.btn-kembali:hover{
    background-color: #004d99;
}
.formulir {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba( 0,0,0,0.1);
}
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
form input,
form select,
form textarea{ 
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form button{
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover{
    background-color: #2980b9;
}